# Dates and Times
**Author : Sanket Dave**

---
 R has a special way of
 representing dates and times,
 which can be helpful if you're
 working with data that show how
 something changes over time
 (i.e. time-series data) or if
 your data contain some other
 temporal information, like dates
 of birth.

 Dates are represented by the
 'Date' class and times are
 represented by the 'POSIXct' and
 'POSIXlt' classes. Internally,
 dates are stored as the number
 of days since 1970-01-01 and
 times are stored as either the
 number of seconds since
 1970-01-01 (for 'POSIXct') or a
 list of seconds, minutes, hours,
 etc. (for 'POSIXlt').

 Let's start by using d1 <-
 Sys.Date() to get the current
 date and store it in the
 variable d1. (That's the letter
 'd' and the number 1.)

In [1]:
d1 <- Sys.Date()

 Use the class() function to
 confirm d1 is a Date object.

In [2]:
class(d1)

[1] "Date"

We can use the unclass()
 function to see what d1 looks
 like internally. Try it out.

In [3]:
unclass(d1)

[1] 18481

 That's the exact number of days
 since 1970-01-01!

 However, if you print d1 to the
 console, you'll get today's date
 -- YEAR-MONTH-DAY. Give it a
 try.

In [4]:
d1

[1] "2020-08-07"

 What if we need to reference a
 date prior to 1970-01-01? Create
 a variable d2 containing
 as.Date("1969-01-01").

In [6]:
d2 <- as.Date("1969-01-01")

 Now use unclass() again to see
 what d2 looks like internally.

In [7]:
unclass(d2)

[1] -365

 As you may have anticipated, you
 get a negative number. In this
 case, it's -365, since
 1969-01-01 is exactly one
 calendar year (i.e. 365 days)
 BEFORE 1970-01-01.

 Now, let's take a look at how R
 stores times. You can access the
 current date and time using the
 Sys.time() function with no
 arguments. Do this and store the
 result in a variable called t1.

In [8]:
t1 <- Sys.time()

In [9]:
t1

[1] "2020-08-07 11:12:14 IST"

In [10]:
class(t1)

[1] "POSIXct" "POSIXt"

 As mentioned earlier, POSIXct is just one of two
 ways that R represents time information. (You can
 ignore the second value above, POSIXt, which just
 functions as a common language between POSIXct and
 POSIXlt.) Use unclass() to see what t1 looks like
 internally -- the (large) number of seconds since
 the beginning of 1970.

In [11]:
unclass(t1)

[1] 1596778935

 By default, Sys.time() returns an object of class
 POSIXct, but we can coerce the result to POSIXlt
 with as.POSIXlt(Sys.time()). Give it a try and
 store the result in t2.

In [12]:
t2 <- as.POSIXlt(Sys.time())

In [13]:
class(t2)

[1] "POSIXlt" "POSIXt"

In [14]:
t2

[1] "2020-08-07 11:14:08 IST"

In [15]:
unclass(t2)

$sec
[1] 8.600698

$min
[1] 14

$hour
[1] 11

$mday
[1] 7

$mon
[1] 7

$year
[1] 120

$wday
[1] 5

$yday
[1] 219

$isdst
[1] 0

$zone
[1] "IST"

$gmtoff
[1] 19800

attr(,"tzone")
[1] ""      "IST"   "+0630"

 t2, like all POSIXlt objects, is just a list of
 values that make up the date and time. Use
 str(unclass(t2)) to have a more compact view.

In [16]:
str(unclass(t2))

List of 11
 $ sec   : num 8.6
 $ min   : int 14
 $ hour  : int 11
 $ mday  : int 7
 $ mon   : int 7
 $ year  : int 120
 $ wday  : int 5
 $ yday  : int 219
 $ isdst : int 0
 $ zone  : chr "IST"
 $ gmtoff: int 19800
 - attr(*, "tzone")= chr [1:3] "" "IST" "+0630"

In [17]:
t2$min

[1] 14

 Now that we have explored all three types of date
 and time objects, let's look at a few functions
 that extract useful information from any of these
 objects -- weekdays(), months(), and quarters().

 The weekdays() function will return the day of week
 from any date or time object. Try it out on d1,
 which is the Date object that contains today's
 date.

In [18]:
weekdays(d1)

[1] "Friday"

In [19]:
months(t1)

[1] "August"

In [20]:
quarters(t2)

[1] "Q3"

 Often, the dates and times in a dataset will be in
 a format that R does not recognize. The strptime()
 function can be helpful in this situation.

 strptime() converts character vectors to POSIXlt.
 In that sense, it is similar to as.POSIXlt(),
 except that the input doesn't have to be in a
 particular format (YYYY-MM-DD).

 To see how it works, store the following character
 string in a variable called t3: "October 17, 1986
 08:24" (with the quotes).

In [21]:
t3 <- "October 17, 1986 08:24"

 Now, use strptime(t3, "%B %d, %Y %H:%M") to help R
 convert our date/time object to a format that it
 understands. Assign the result to a new variable
 called t4. (You should pull up the documentation
 for strptime() if you'd like to know more about how
 it works.)

In [23]:
t4 <- strptime(t3, "%B %d, %Y %H:%M")

In [24]:
t4

[1] "1986-10-17 08:24:00 IST"

In [25]:
class(t4)

[1] "POSIXlt" "POSIXt"

 Finally, there are a number of operations that you can
 perform on dates and times, including arithmetic
 operations (+ and -) and comparisons (<, ==, etc.)

 The variable t1 contains the time at which you created
 it (recall you used Sys.time()). Confirm that some time
 has passed since you created t1 by using the 'greater
 than' operator to compare it to the current time:
 Sys.time() > t1

In [26]:
Sys.time() > t1

[1] TRUE

 So we know that some time has passed, but how much? Try
 subtracting t1 from the current time using Sys.time() -
 t1. Don't forget the parentheses at the end of
 Sys.time(), since it is a function.

In [27]:
Sys.time() - t1

Time difference of 52.66582 mins

 The same line of thinking applies to addition and the
 other comparison operators. If you want more control
 over the units when finding the above difference in
 times, you can use difftime(), which allows you to
 specify a 'units' parameter.

 Use difftime(Sys.time(), t1, units = 'days') to find the
 amount of time in DAYS that has passed since you created
 t1.

In [28]:
difftime(Sys.time(), t1, units = 'days')

Time difference of 0.03693709 days

 In this lesson, you learned how to work with dates and
 times in R. While it is important to understand the
 basics, if you find yourself working with dates and
 times often, you may want to check out the lubridate
 package by Hadley Wickham.